.msg {
    max-width: 80%;
    @apply relative text-sm p-4 mb-5 rounded;
}
.msg.client {
    background-color: var(--background);
    border-bottom-left-radius: 0;
    border-color: var(--border);
}
.msg.client:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 15px solid var(--background);
    border-right: 15px solid transparent;
}
.msg.me {
    background-color: var(--primary);
    border-bottom-right-radius: 0;
    @apply text-white;
}
.msg.me:before {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    border-top: 15px solid var(--primary);
    border-left: 15px solid transparent;
}
