.exitBtn {
    color:  #5DB075;
    @apply col-span-2 text-left text-sm cursor-pointer;
    line-height: 2rem;
}

.conversation {
    height: calc(100% - 160px);
}
.conversation .container {
    @apply text-left text-sm overflow-y-auto;
    max-height: calc(100vh - 150px);
}

.send {
    border-radius: 100px;
    background-color: var(--background);
    @apply w-full px-2 flex items-center mb-2 py-1;
}
.send input {
    background-color: var(--background);
    border-color: var(--border);
    @apply rounded w-full text-lg border-0 mb-0 outline-none p-0;
}

.sendBtn {
    background-color: var(--primary);
    border-radius: 50%;
    @apply w-9 h-8 flex justify-center items-center cursor-pointer;
}
