@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
}

:root {
  --primary: #5DB075;
  --background: #F6F6F6;
  --border: #E8E8E8;
}

.input {
  background-color: var(--background);
  border-color: var(--border);
  @apply rounded border border-2 p-2 text-sm mb-4;
}

h1 {
  @apply font-bold text-2xl;
}

